* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'cocogoose_prothin';
}
button{
  font-family: 'cocogoosedemibold';
  font-size: 15px;
}

header{
  display: flex;
  align-items: center;
  width: 90%;
  height: 20vh;
  margin: auto;
  padding: 5vw;
  background-color: #00ABBC;
}
#navigation {
  /*border: 1px solid black;*/
  background-color: ;
  font-size: 110%;
}
#navigation ul {
  /*border: 1px solid black;*/
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
#navigation li {
  /*border: 1px solid black;*/
  display: inline;
}
#navigation a:link, #navigation a:visited {
  /* padding: 0.4em 1em 0.4em 1em; */
  padding: 3px;
  color: white;
  font-family: 'cocogoosedemibold';
  background-color: #F55F24;
  text-decoration: none;
  border: 1px solid #FFFFFF;
}
#navigation a:hover {
  color: #FFFFFF;
  background-color: #711515;
}
#special-p {
  padding: 1vw;
  font-size: 16px;
}

.logo-container{
  flex: 1;
  background-color: ;
}
.logo-text{

}
.logo-textbox{
  flex:1;
  background-color: ;
}


main{
  margin: auto;
  width: 90%;
  height: 100%;
  font-size: 20px;
  font-family: 'cocogoosedemibold';
}
.home-main{
  display: flex;
}
table{
  font-family: 'Calibri';
}
.picture-container,.description-container,.login-container,.schoolandclass,.student-table-container{
  padding: 3vh;
}
.description-container{
  flex: 1;
  background: white;
  width: 50%;
  font-size: 25;
}
.picture-container{
  flex: 1;
  background-color: white;
  margin: auto;
  height: 100%;
  width: 50%;
}
.picture-container img{
  width: 100%;
}
.login-container{
  flex: 2;
  background: white;
}
.login-container p{
  text-align: center;
}
.login-table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.login-table tr td{
  padding: 10px;
}
.login-rows{

}
.username-cell{
  border: black solid 3px;
}
.password-cell{
  border: black solid 3px;
}
.button{
  text-decoration: none;
  color: black;
}

.back-container{
  background-color: white;
  padding: 1vw;
}
.schoolandclass{
  height: 100%;
  flex: 10;
  background-color: white;
  margin: auto;
  font-size: 30px;
}
.schoolandclass p{
  text-align: center;
}
.schoolTable{
  text-align: center;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}
.schoolRow{

}
.schoolCell{
  padding: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  border: black solid 3px;
}
.button-table{
  margin-left: auto;
  margin-right: auto;
}
.button-cell{
  border: none;
}

.cta-login{
  padding: 10px;
  background-color: #00ABBC;
  border: black solid 2px;
  cursor: pointer;
}
.cta-login:hover{
  color: black;
  background-color: white;
}
.cta-back{
  margin-right: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #00ABBC;
  color: white;
  border: black solid 2px;
  cursor: pointer;
}
.cta-back:hover{
  color: black;
  background-color: white;
}

.student-table-container{
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto;
}
.student-table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.student-table tr, th, td{
  border: black solid 3px;
  padding: 1vw;
}
.liste{
  font-family: 'Calibri';
}
footer{
  background-color: #00ABBC;
  width: 90%;
  margin: auto;
}
